@font-face
{
    font-family: pismo;
    src: url(fonts/Righteous-Regular.ttf);
}

@font-face
{
    font-family: pismo1;
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

#wrapper {width: 100%; margin: 0; padding: 0;}
body {background-image: url("../images/swirl_pattern.png"); font-family: pismo1; color: #1e3c62; margin: 0px; padding: 0px;}
section {width: 100%;}
header {width: 100%;}

nav {text-align: center; position:relative;}
nav a { position: relative; font-family: pismo; color: #1e3c62; text-decoration: none;  }
nav a:hover {color: #da94b9;}

ul {list-style-type: circle;}
p {text-align: center;}

.logo {display: block; text-align: center;}
.hpnadpis {text-transform: uppercase; text-align: center;}
.homepage {background-image: url("../images/swirl_dark.png");}
.homepage p {color: #da94b9;}

.webyodkaz {text-decoration: none; color: #da94b9; text-transform: uppercase;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.webyodkaz:hover { color: #fff;}
.weby {text-decoration: none; text-transform: uppercase; background-image: url("../images/swirl_dark.png");}
.weby h2 {color: #fff;}
.weby a {text-decoration: none; color: #da94b9;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.weby a:hover {
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
color: #fff;
}
.webykvet {text-align: center;}
.sprweby {background-image: url("../images/swirl_dark.png"); text-align: center;}

.aktuality {background-image:  url("../images/swirl_dark.png");}
.aktualityuvod {background-image: url("../images/swirl_dark.png");}
.aktualityobsah {font-family: pismo; color: #1e3c62;}
.aktualitycena {color: #fff;}
.aktuality a {text-decoration: none; color: #fff;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.aktuality a:hover {color: #da94b9;}
.actualgalerry{display: block;}

.sluzby {background-image: url("../images/kategorie_swirl_2.png"); background-size: 250px 200px; text-align: center;}
.sluzby a {text-decoration: none; color: #fff;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.sluzby a:hover {color: #da94b9;}
.sluzbysection {background-image: url("../images/swirl_dark.png");  color: #fff;}

#shortback {height: 850px; background-size: 100% 850px;}
#shortbackaroma {height: 980px; background-size: 100% 980px;}
#shortbackhomeo {height: 1360px; background-size: 100% 1360px;}
#shortbackporadna {height: 1270px; background-size: 100% 1270px;}
#shortbackkinezio {height: 1230px; background-size: 100% 1230px;}
#shortbackjoga {height: 1340px; background-size: 100% 1340px;}
#shortbackjoga2 {height: 1700px; background-size: 100% 1700px;}
#shortbackjoga3 {height: 1590px;
    background-size: 100% 1590px;}
#shortbackcranio {height: 950px; background-size: 100% 950px;}
#shortbackqigong {height: 900px; background-size: 100% 900px;}
#shortbackkonstelace {height: 1100px; background-size: 100% 1100px;}
#shortbackprocesses {height: 1460px; background-size: 100% 1460px;}

.aromanadpis {color: #da94b9; text-transform: uppercase; text-align: center; }
.aromaobsah p, .aromaobsah ul, .aromaobsah h3 {text-align: left; color: #da94b9;}
.aromaprofil {background-color: white; background-image: url("../images/profil_list_1.png");  background-repeat: no-repeat;background-size: 100% 1300px;}
.aromaprofil p, .aromaprofil ul {color: #1e3c62;}

.aktualitynadpis {color: #1e3c62; text-transform: uppercase; text-align: center; }
.sluzbynadpis {color: #1e3c62; text-transform: uppercase; text-align: center; }
.ladeninadpis {color: #da94b9; text-transform: uppercase; text-align: center; }
.poradnanadpis {color: #da94b9; text-transform: uppercase; text-align: center; }
.homeonadpis {color: #da94b9; text-transform: uppercase; text-align: center; }
.joganadpis {color: #da94b9; text-transform: uppercase;  text-align: center; }
.cranionadpis {color: #da94b9; text-transform: uppercase;  text-align: center; }
.qigongnadpis {color: #da94b9; text-transform: uppercase;  text-align: center; }
.konstelacenadpis {color: #da94b9; text-transform: uppercase;  text-align: center; }
.rozvrhnadpis {color: #1e3c62; text-transform: uppercase;  text-align: center; }
.pakcenadpis {color: #1e3c62; text-transform: uppercase; text-align: center;}
.galerienadpis {color: #da94b9; text-transform: uppercase; text-align: center;}
.kontaktynadpis {color: #1e3c62; text-transform: uppercase;  text-align: center;}
.webynadpis {color: #1e3c62; text-transform: uppercase;  text-align: center;}

.timetable {background-image: url("../images/swirl_dark.png"); color: #da94b9;}
table, th, td {border-collapse: collapse; border: solid 5px #da94b9; text-align: center; text-transform: uppercase;}
tr a {text-decoration: none; color: #fff;}
tr a:hover {color: #da94b9;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.day {font-weight: bold; color: #fff;}

.akce {text-transform: uppercase; color: #1e3c62; font-weight: bold;}
.action {background-image:  url("../images/swirl_dark.png");}
.action h1 {text-align: center; text-transform: uppercase; color: #fff;}
.odkazaktuality {text-decoration: none; font-weight: bold; color: #1e3c62;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.odkazaktuality:hover {font-weight: bold; color: #da94b9;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}

.galeriebig {text-align:center;}

.kontakty {background-image: url("../images/swirl_dark.png"); color: #da94b9; }
.kontaktyjmeno {text-transform: uppercase; color: #fff;}
.kontaktyseznam {color: #fff;}
.kontaktodkaz {text-decoration: none; color: #da94b9;}
.kontaktodkaz:hover {color: #fff;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.mapa {position: relative; left: 10%; right: 10%; padding-bottom: 30px;}

.odkazy {text-decoration: none; color: #1e3c62;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.odkazy:hover {color: #da94b9;}

.up { opacity: 0.5;
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-ms-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;}
.up:hover {opacity: 1;}

h2, h3, h4 {color: #da94b9; text-align: center;}
.bold {color: #da94b9;}
.white {color: #fff;}

.clear {clear: both;}


/*






1274+ RESPONSIVE - START







*/
@media only screen and (min-width: 1274px)
{

	nav {height: 170px;}
	nav a {font-size: 25px; display: inline-block; }
	nav a:last-child {margin: 0px;}
	h1 {font-size: 25px;}
	p {font-size: 15px;}
    .hpnadpis {font-size: 35px;}
	.homepage {width: 450px; float: left; margin-left: 50px; padding-bottom: 20px; margin-bottom: 50px;}
	.homepage p {font-size: 15px; padding: 5px 35px 0px 35px; }
	.facebook {width: 180px; margin-left: 50px;}

	.webyodkaz {font-size: 25px;}
	.weby {margin-bottom: 20px; }
    .weby h2 {display: inline-block; font-size: 25px;}
	.weby a {font-size: 20px;}
	.weby table {width: 100%; margin: 0 auto;}
	.weby table td {width: 33%;}
	.sprweby {margin: 50px 550px 0px 550px; padding: 10px;}

	.aktuality {padding: 10px; margin-top: 30px;}
	.aktualityuvod {padding: 10px;}
	.aktualitykvet {position: absolute; left: 100px; top: 550px;}
	.aktualitykvet1 {position: absolute; right: 100px; top: 550px;}
	.aktualityobsah {font-size: 20px;}
	.aktualitycena {font-size: 20px;}


	.sluzby { width: 250px; height: 200px;  display: inline-block; margin: 0px 30px 50px 30px; line-height: 30px;}
	.sluzby a {font-size: 20px; position: relative; top: 80px; display: block;}
	.sluzbysection {width: 100%; height: 100%; padding: 0px; }



	.aromanadpis {padding-top: 30px; font-size: 35px;}
	.aromaobsah {width: 650px; float: left; line-height: 30px; padding-left: 50px;}
	.aromaprofil {width: 450px; height: 1300px;  margin-right: 50px; float: right; z-index: 1000; padding: 20px;}
	.aromaprofil img {width: 190px; float: right; margin-top: 50px; padding: 20px; z-index: 6000; }
	.aromaprofil h2 {margin-top: 50px;}


	.aktualitynadpis {font-size: 35px;}
	.sluzbynadpis {font-size: 35px;}
	.ladeninadpis {font-size: 35px; padding-top: 30px;}
	.poradnanadpis { font-size: 35px; padding-top: 30px;}
	.homeonadpis { font-size: 35px;  padding-top: 30px;}
	.joganadpis {font-size: 35px; padding-top: 30px;}
	.cranionadpis {font-size: 35px; padding-top: 30px;}
	.qigongnadpis {font-size: 35px; padding-top: 30px;}
	.konstelacenadpis {font-size: 35px; text-align: center; padding-top: 30px;}
	.rozvrhnadpis {font-size: 35px; padding: 0px;}
	.pakcenadpis {font-size: 35px;}
	.galerienadpis {font-size: 35px; padding: 30px;}
	.kontaktynadpis {font-size: 35px;}
	.webynadpis {font-size: 35px;}


	.timetable {margin-bottom: 50px;}
	table, th, td {line-height: 20px; padding: 15px; margin-left: 150px;}
	.day {font-size: 20px;}

	.akce {font-size: 20px;}
	.action {padding: 10px; margin-top: 30px;}


	#galeriebig {width: 450px; float: right; margin-right: 50px;}
	.galeriesmall {width:30%; margin: 0 auto;}
	.galeriebig img {max-height: 500px; max-width: 490px; margin: auto;}
	.galeriesmall img {max-height:80px; margin-left: 10px;}

	.kontakty {display: inline-block; width: 100%; min-height: 220px; margin-top: 20px; margin-bottom: 20px;}
	.kontaktyjmeno {font-size: 30px; float: left; margin-top: 30px; margin-left: 30px;}
	.kontaktyseznam {margin: 40px 0px 0px 500px; font-size: 17px;}
	.telefonemail {float: right; margin: 0px 100px 30px 0px; font-size: 20px;}

	.up {width: 40px; padding: 30px 30px 30px 320px;}


	.infinityleft {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 170px;
    margin-right: 20px;

}

.infinityleft:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 130px;
    height: 130px;
    border: 15px solid #da94b9;
    -moz-border-radius: 120px 120px 0 120px;
         border-radius: 120px 120px 0 120px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.infinityright {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 170px;
    margin-right: 30px;

}

.infinityright:after {
    content: "";
    position: absolute;
    top: -10px;
    right:0px;
    width: 130px;
    height: 130px;
    border: 15px solid #da94b9;
    -moz-border-radius: 120px 120px 120px 0;
         border-radius: 120px 120px 120px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);


}

.infinityright:hover {color: #da94b9;}

.infinityright:hover:after
{
    border: 15px solid #1e3c62;
}

.infinityleft:hover:after
{
    border: 15px solid #1e3c62;
}

}
/* 1274+ RESPONSIVE - END */



/*



1274- RESPONSIVE  - START



*/

@media only screen and (max-width: 1274px) and (min-width: 768px) {

	nav {height: 300px; width:795px; margin: 0 auto;}
	nav a {font-size: 25px; display: inline-block; }
	nav a:last-child {margin: 0px;}
	h1 {font-size: 25px;}
	p {font-size: 15px;}
    .hpnadpis {font-size: 35px;}
	.homepage {margin: 0 auto; width: 450px; padding-bottom: 20px; margin-bottom: 50px;}
	.homepage p {font-size: 15px; padding: 5px 35px 0px 35px; }
	.facebook {width: 180px; text-align:center;}
	.fba {display: block; margin: 0 auto; height: 180px; width: 180px; margin-bottom: 15px;}

	.webyodkaz {font-size: 15px;}
	.weby {margin-bottom: 20px; width: 90%;}
    .weby h2 {display: inline-block; font-size: 15px;}
	.weby a {font-size: 20px;}
	.weby table {width: 100%; margin: 0 auto;}
	.sprweby {padding: 10px;}

	.aktuality {padding: 10px; margin-top: 30px;}
	.aktualityuvod {padding: 10px;}
	.aktualitykvet {position: absolute; left: 100px; top: 550px;}
	.aktualitykvet1 {position: absolute; right: 100px; top: 550px;}
	.aktualityobsah {font-size: 20px;}
	.aktualitycena {font-size: 20px;}


	.sluzby { width: 250px; height: 200px;  display: inline-block; margin: 0px 30px 50px 30px; line-height: 30px;}
	.sluzby a {font-size: 20px; position: relative; top: 80px; display: block;}
	.sluzbysection {width: 100%;text-align: center; padding: 0px; }



	.aromanadpis {padding-top: 30px; font-size: 35px;}
	.aromaobsah {width: 650px; float: left; line-height: 30px; padding-left: 50px;}
	.aromaprofil {width: 450px; height: 1300px;  margin-right: 50px; float: right; z-index: 1000; padding: 20px;}
	.aromaprofil img {width: 190px; float: right; margin-top: 50px; padding: 20px; z-index: 6000; }
	.aromaprofil h2 {margin-top: 50px;}


	.aktualitynadpis {font-size: 35px;}
	.sluzbynadpis {font-size: 35px;}
	.ladeninadpis {font-size: 35px; padding-top: 30px;}
	.poradnanadpis { font-size: 35px; padding-top: 30px;}
	.homeonadpis { font-size: 35px;  padding-top: 30px;}
	.joganadpis {font-size: 35px; padding-top: 30px;}
	.cranionadpis {font-size: 35px; padding-top: 30px;}
	.qigongnadpis {font-size: 35px; padding-top: 30px;}
	.konstelacenadpis {font-size: 35px; text-align: center; padding-top: 30px;}
	.rozvrhnadpis {font-size: 35px; padding: 0px;}
	.pakcenadpis {font-size: 35px;}
	.galerienadpis {font-size: 35px; padding: 30px;}
	.kontaktynadpis {font-size: 35px;}
	.webynadpis {font-size: 35px;}


	.timetable {margin-bottom: 50px;}
	table, th, td {line-height: 20px; padding: 15px;}
	.day {font-size: 20px;}

	.akce {font-size: 20px;}
	.action {padding: 10px; margin-top: 30px;}


	#galeriebig {width: 450px; margin: 0 auto; margin-bottom: 15px;}
	.galeriesmall {width:30%; margin: 0 auto;}
	.galeriebig img {max-height: 500px; max-width: 490px; margin: 0 auto;}
	.galeriesmall img {max-height:80px; margin-left: 10px;}

	.kontakty {display: inline-block; width: 100%; min-height: 220px; margin-top: 20px; margin-bottom: 20px;}
	.kontaktyjmeno {font-size: 30px; float: left; margin-top: 30px; margin-left: 30px;}
	.kontaktyseznam {margin: 40px 0px 0px 500px; font-size: 17px;}
	.telefonemail {float: right; margin: 0px 100px 30px 0px; font-size: 20px;}

	.up {width: 40px; padding: 30px 30px 30px 320px;}

	.infinityleft {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 170px;
    margin-right: 20px;

}

.infinityleft:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 130px;
    height: 130px;
    border: 15px solid #da94b9;
    -moz-border-radius: 120px 120px 0 120px;
         border-radius: 120px 120px 0 120px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.infinityright {
    position: relative;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 170px;
    margin-right: 30px;

}

.infinityright:after {
    content: "";
    position: absolute;
    top: -10px;
    right:0px;
    width: 130px;
    height: 130px;
    border: 15px solid #da94b9;
    -moz-border-radius: 120px 120px 120px 0;
         border-radius: 120px 120px 120px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);


}

.infinityright:hover {color: #da94b9;}

.infinityright:hover:after
{
    border: 15px solid #1e3c62;
}

.infinityleft:hover:after
{
    border: 15px solid #1e3c62;
}


}

@media only screen and (max-width: 767px)  {

	nav {height: 100px; width:100%; margin: 0 auto;}
	nav a {font-size: 25px; margin-right: 10px; }
	nav a:last-child {margin: 0px;}
	h1 {font-size: 25px;}
	p {font-size: 15px;}
    .hpnadpis {font-size: 35px;}
	.homepage {margin: 0 auto; width: 100%; padding-bottom: 20px; margin-bottom: 50px;}
	.homepage p {font-size: 15px; padding: 5px 35px 0px 35px; }
	.facebook {width: 180px; text-align:center;}
	.fba {display: block; margin: 0 auto; height: 180px; width: 180px; margin-bottom: 15px;}

	.webyodkaz {font-size: 25px;}
	.weby {margin-bottom: 20px; }
    .weby h2 {display: inline-block; font-size: 15px;}
	.weby a {font-size: 15px;}
	.weby table {width: 100%; margin: 0 auto;}
	.weby table td {display: block;}
	.sprweby {padding: 10px;}

	.aktuality {padding: 10px; margin-top: 30px; }
	.aktualityuvod {padding: 10px; position: relative;}
	.aktualitykvet {position: absolute; left: 10px; top: -50px;}
	.aktualitykvet1 {position: absolute; right: 10px; top: -50px;}
	.aktualityobsah {font-size: 20px;}
	.aktualitycena {font-size: 20px;}


	.sluzby { width: 250px; height: 200px;  display: inline-block; margin: 0px 30px 50px 30px; line-height: 30px;}
	.sluzby a {font-size: 20px; position: relative; top: 80px; display: block;}
	.sluzbysection {width: 100%;text-align: center; padding: 0px; position: relative; }



	.aromanadpis {padding-top: 30px; font-size: 35px;}
	.aromaobsah {width: 87%; line-height: 30px; padding: 20px;}
	.aromaprofil {width: 87%;  z-index: 1000; padding: 20px; height: 100%;}
	.aromaprofil img {width: 190px; margin-top: 50px; padding: 20px; z-index: 6000; }
	.aromaprofil h2 {margin-top: 50px;}


	.aktualitynadpis {font-size: 35px;}
	.sluzbynadpis {font-size: 35px;}
	.ladeninadpis {font-size: 35px; padding-top: 30px;}
	.poradnanadpis { font-size: 35px; padding-top: 30px;}
	.homeonadpis { font-size: 35px;  padding-top: 30px;}
	.joganadpis {font-size: 35px; padding-top: 30px;}
	.cranionadpis {font-size: 35px; padding-top: 30px;}
	.qigongnadpis {font-size: 35px; padding-top: 30px;}
	.konstelacenadpis {font-size: 35px; text-align: center; padding-top: 30px;}
	.rozvrhnadpis {font-size: 35px; padding: 0px;}
	.pakcenadpis {font-size: 35px;}
	.galerienadpis {font-size: 35px; padding: 30px;}
	.kontaktynadpis {font-size: 35px;}
	.webynadpis {font-size: 35px;}


	.timetable {margin-bottom: 50px; font-size: 10px;}
	.timetable img {width: 50px; }
	table, th, td {line-height: 20px; padding: 5px;}
	.day {font-size: 10px;}

	.akce {font-size: 20px;}
	.action {padding: 10px; margin-top: 30px;}


	#galeriebig {width: 90%; margin: 0 auto; margin-bottom: 15px;}
	.galeriesmall {width:30%; margin: 0 auto;}
	.galeriebig img {width: 100%;max-height: 500px; max-width: 490px; margin: 0 auto;}
	.galeriesmall img {max-height:80px; margin-left: 10px;}

	.kontakty {display: inline-block; width: 100%; min-height: 220px; margin-top: 20px; margin-bottom: 20px;}
	.kontaktyjmeno {font-size: 30px; float: left; margin-top: 30px; margin-left: 30px;}
	.kontaktyseznam {float: left; font-size: 17px;}
	.telefonemail {float:left; font-size: 20px;}

	.up {width: 40px; padding: 30px 30px 30px 30px;}
}
