@font-face
{
    font-family: pismo;
    src: url(../css/fonts/Righteous-Regular.ttf);
}

@font-face
{
    font-family: pismo1;
    src: url(../css/fonts/TitilliumWeb-Regular.ttf);
}

body {background-color: #da94b9; color: #1e3c62; font-family: pismo; text-align: center;}
h3 {font-size: 3em; text-transform: uppercase; }
input,textarea {background-color: #1e3c62; color: white; font-family: pismo1; font-size: 1.5em; width: 90%; padding: 10px;}
button {text-transform: uppercase; background-color: #1e3c62; color: white; font-family: pismo; font-size: 1em; padding: 5px; }
table td {color: white; padding-bottom: 10px; border-bottom: 2px dashed #1e3c62;}
